[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
qrcode = "*"
uvicorn = "*"
fastapi = "*"
sqlalchemy = "*"
typing-extensions = "*"
pydantic = "*"
redis = "*"
pydantic-settings = "*"
databases = "*"
psycopg2-binary = "*"
asyncpg = "*"
alembic = "*"
bcrypt = "*"
python-jose = "*"
passlib = "*"
stripe = "*"

[dev-packages]

[requires]
python_version = "3.12"
